@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000B00;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/imagenFondo.png);
    background-size: cover;
    background-position: center;
}
.main-title {
    font-size: 2.2rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
    margin: 40px 20px 20px;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-container {
    background-color: #12280E;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(36, 69, 28, 0.8);
    text-align: center;
    color: #ffffff;
    border: 2px solid #1B3715;
}

.login-container h2 {
    margin-bottom: 25px;
    color: #67e480;
    font-weight: 700;
    font-size: 24px;
}

.form-group label {
    color: #a1f4b2;
    font-weight: 500;
}

.form-control {
    border-radius: 6px;
    border: 1px solid #24451C;
    background-color: #1B3715;
    color: #ffffff;
    padding: 10px;
    transition: border 0.3s ease;
}

.form-control:focus {
    border-color: #67e480;
    background-color: #12280E;
    outline: none;
}

.btn-primary {
    background-color: #24451C;
    border: none;
    padding: 12px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-primary:hover {
    background-color: #1B3715;
    transform: scale(1.03);
}

.alert-danger {
    background-color: #800000;
    color: white;
    border: none;
}
